@font-face {
    font-family: 'NanumSquareB';
    src: url(../fonts/NanumSquareB.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareR';
    src: url(../fonts/NanumSquareR.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'NanumSquareR';
  background: #fff;
}
.header {
 	padding: 10px;
	width: 100%;
	max-width: 960px;
	height: 80px;
    text-align: center;
 	color: #000;
    margin: 0 auto;
}
.header .title {
    font-size: 1.8rem;
 	font-family: 'NanumSquareB';
    cursor: pointer;
    color: #000;
}
.header .code {
    height: 35px;
}
.container {
    margin-top: 40px;
	max-width: 960px;
    width: initial;
}
.container .codeDiv {
 	height: 50px;
 	background: #fff;
    margin-bottom: 15px;
}
.container .codeDiv #codeNm {
    line-height: 50px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
 	font-family: 'NanumSquareB';
}
.container .codeDiv #codeId {
    line-height: 50px;
    font-size: 12px;
    margin-left: 3px;
    font-weight: bold;
 	font-family: 'NanumSquareB';
}
.container .contentInit {
    background: #fff;
    width: 100%;
}
.container .contentInit .initInfo {
    width: 100%;
    padding: 0 10vw;
    margin-top: 20vh;
}
.codeSearchDiv {
    border: 1px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: initial !important;
}
.codeSearchDiv#headerSearchDiv {
    position: relative;
    margin-top: 15px;
    background: #fff;
}
.codeSearchDiv .codeSearchIcon {
    width: 30px;
    border: none !important;
    padding: 2px;
    box-shadow: none !important;
    display: inline-block;
    vertical-align: middle;
    color: #aaa;
}
.codeSearchDiv .code {
    display: inline-block;
    width: calc(100% - 40px) !important;
    border: none !important;
    padding: 2px !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
}
.codeList {
    border-top: 1px solid #eee;
    width: calc(100% - 50px);
    max-height: 300px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}
.codeList li {
	display: block;
	padding: 10px;
}
.codeList::-webkit-scrollbar {
    background-color: #fff;
    width: 20px;
}
.codeList::-webkit-scrollbar-track {
    background-color: #fff;
}
.codeList::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}
.container .content {
    width: 100%;
    background: #fff;
    margin-bottom: 15px;
    padding: 20px;
}
.container .content .contBox {
	height: 280px;
}
.container .content .contTit {
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
 	font-family: 'NanumSquareB';
 	margin-bottom: 20px;
}
.container .content .contBox table {
    table-layout: fixed;
    font-size: 1.1rem;
}
.container .content .contBox table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container .content .contBox table .sympathy {
    background: #f5c3c3;
    padding: 5px 10px;
    border-radius: 10px;
    color: #d72828;
    font-weight: bold;
 	font-family: 'NanumSquareB';
}
.container .content .contBox table .nonSympathy {
    background: #c3c5f5;
    padding: 5px 10px;
    border-radius: 10px;
    color: #2b28d7;
    font-weight: bold;
 	font-family: 'NanumSquareB';
}
.container .content .contBox table .inquire {
    background: #d9d3d3;
    padding: 5px 10px;
    border-radius: 10px;
    color: #242624;
    font-weight: bold;
 	font-family: 'NanumSquareB';
}

/* ¸ð¹ÙÀÏ */
@media screen and (max-width: 615px) {
	.header {
	 	padding: 10px;
		width: 100%;
		max-width: 960px;
		height: 70px;
	    text-align: center;
	 	color: #000;
	    margin: 0 auto;
	}
	.header .title {
	    font-size: 1.4rem;
	 	font-family: 'NanumSquareB';
	    cursor: pointer;
	    color: #000;
	}
	.container .content .contTit {
	    display: block;
	    font-size: 1.4rem;
	    font-weight: bold;
	 	font-family: 'NanumSquareB';
	 	margin-bottom: 20px;
	}
	.container .content .contBox table {
	    table-layout: fixed;
	    font-size: 1rem;
	}
	.container {
	    margin-top: 40px;
		max-width: 960px;
	    width: initial;
	 	background: #e1e1e1;
	}
	.codeList {
	    border-top: 1px solid #eee;
	    width: calc(100% - 50px);
	    max-height: 220px;
	    overflow: auto;
	    margin: 0 auto;
	    margin-top: 0px;
	    margin-right: auto;
	    margin-bottom: 0px;
	    margin-left: auto;
	    scrollbar-color: #6969dd #e0e0e0;
	    scrollbar-width: thin;
	}
	.codeList::-webkit-scrollbar {
	    background-color: #fff;
	    width: 15px;
	}
	.codeList::-webkit-scrollbar-thumb {
	    background-color: #babac0;
	    border-radius: 10px;
	    border: 4px solid #fff;
	}
}