  #scroller {
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 30px;
      line-height: 1;
      font-weight: bold;
      letter-spacing: 0;
      -webkit-font-smoothing: inherit
  }

  #scroller {
      text-rendering: optimizeLegibility
  }
  #popularStock {
      height: 35px;
      margin-bottom: -6px;
      overflow: hidden;
      position: relative
  }

  #popularStock .scroller_item {
      display: block;
      padding-bottom: 6px;
      -webkit-animation: scroll 7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      animation: scroll 7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
  }

  #popularStock .scroller_item[href]:hover {
      text-decoration: underline
  }

  #popularStock .scroller_item:nth-child(1),
  #popularStock .scroller_item:nth-child(1) a {
      color: #1d1f5c
  }

  #popularStock .scroller_item:nth-child(2),
  #popularStock .scroller_item:nth-child(2) a {
      color: #1d485c
  }

  #popularStock .scroller_item:nth-child(3),
  #popularStock .scroller_item:nth-child(3) a {
      color: #1d5c33
  }

  #popularStock .scroller_item:nth-child(4),
  #popularStock .scroller_item:nth-child(4) a {
      color: #e56c26
  }

  #popularStock .scroller_item:nth-child(5),
  #popularStock .scroller_item:nth-child(5) a {
      color: #ff67f3
  }
  
  #popularStock .scroller_item:nth-child(6),
  #popularStock .scroller_item:nth-child(6) a {
      color: #1d1f5c
  }

  @media screen and (max-width: 615px) {
	  #scroller {
	      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	      font-size: 21px;
	      line-height: 1;
	      font-weight: bold;
	      letter-spacing: 0;
	      -webkit-font-smoothing: inherit
	  }
      #popularStock {
          height: 30px;
          line-height: 1.4;
          margin-bottom: 0
      }
      #popularStock .scroller_item {
          padding-bottom: 0;
          -webkit-animation: scroll-mobile 7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
          animation: scroll-mobile 7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
      }
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item:nth-child(1) .grid_item-overlay .link:hover {
      	color: #1d1f5c
      }
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item:nth-child(2) .grid_item-overlay .link:hover {
          color: #1d485c
      }
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item:nth-child(3) .grid_item-overlay .link:hover {
          color: #1d5c33
      }
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item:nth-child(4) .grid_item-overlay .link:hover {
          color: #e56c26
      }
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item:nth-child(5) .grid_item-overlay .link:hover {
          color: #ff67f3
      }
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item:nth-child(6) .grid_item-overlay .link:hover {
      	color: #1d1f5c
      }
  }

  #scroller-container-grid .scroller-container-grid_item .img {
      position: relative
  }

  #scroller-container-grid .scroller-container-grid_item .grid_item-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      text-decoration: none
  }

  #scroller-container-grid .scroller-container-grid_item .grid_item-overlay:hover {
      opacity: 1
  }

  #scroller-container-grid .scroller-container-grid_item .grid_item-overlay .link {
      display: inline-block;
      box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
      transition: box-shadow .2s ease
  }

  #scroller-container-grid .scroller-container-grid_item .grid_item-overlay .link:hover {
      box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
  }

  @media screen and (max-width: 520px) {
      #scroller-container-grid .scroller-container-grid_item {
          margin-bottom: 18px
      }
      #scroller-container-grid .scroller-container-grid_item .grid_item-overlay {
          position: relative;
          background: none !important;
          color: #3a3a3a;
          opacity: 1;
          display: block;
          margin-top: 18px;
          text-align: left
      }
      #scroller-container-grid .scroller-container-grid_item .grid_item-overlay .link {
          box-shadow: none
      }
      #scroller-container-grid .scroller-container-grid_item .grid_item-overlay .link:hover {
          text-decoration: underline
      }
  }

  @-webkit-keyframes scroll {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
      }
      20% {
          -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
      }
      40% {
          -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
      }
      60% {
          -webkit-transform: translateY(-105px);
          transform: translateY(-105px);
      }
      80% {
          -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
      }
      100% {
          -webkit-transform: translateY(-179px);
          transform: translateY(-179px);
      }
  }

  @keyframes scroll {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
      }
      20% {
          -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
      }
      40% {
          -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
      }
      60% {
          -webkit-transform: translateY(-105px);
          transform: translateY(-105px);
      }
      80% {
          -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
      }
      100% {
          -webkit-transform: translateY(-179px);
          transform: translateY(-179px);
      }
  }

  @-webkit-keyframes scroll-mobile {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
      }
      20% {
          -webkit-transform: translateY(-29.4px);
          transform: translateY(-24.5px);
      }
      40% {
          -webkit-transform: translateY(-58.8px);
          transform: translateY(-58.8px);
      }
      60% {
          -webkit-transform: translateY(-88.2px);
          transform: translateY(-88.2px);
      }
      80% {
          -webkit-transform: translateY(-117.6px);
          transform: translateY(-117.6px);
      }
      100% {
          -webkit-transform: translateY(-147px);
          transform: translateY(-147px);
      }
  }

  @keyframes scroll-mobile {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
      }
      20% {
          -webkit-transform: translateY(-29.4px);
          transform: translateY(-24.5px);
      }
      40% {
          -webkit-transform: translateY(-58.8px);
          transform: translateY(-58.8px);
      }
      60% {
          -webkit-transform: translateY(-88.2px);
          transform: translateY(-88.2px);
      }
      80% {
          -webkit-transform: translateY(-117.6px);
          transform: translateY(-117.6px);
      }
      100% {
          -webkit-transform: translateY(-147px);
          transform: translateY(-147px);
      }
  }